<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda foi cancelada, verifique os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
</p>
