<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <br />
</p>
